*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 300ms;
}

html{
    font-size: 62.5%;
}

:root{
    --pink: #fee2e2;
    --red: #f00;
}

body{
    background: var(--pink);
}

.center{
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.section-title{
    font-size: 4rem;
    text-align: center;
    margin: 3rem 0;
}







/*HEADER*/
#header-top{
    width: 100%;
    height: 4rem;
    border-bottom: .1rem solid #999;
    background: var(--pink);
}

#header-top .center{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header-top .center a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--red);
}

#header{
    width: 100%;
    height: 10rem;
    border-bottom: .1rem solid #777;
    background: var(--pink);
}

#header .center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header img{
    width: 7rem;
}




/*NAVBAR*/
#nav{
    width: 60%;
    height: 10rem;
}

#nav ul{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav ul li{
    list-style: none;
    width: 20%;
    height: 10rem;
}

#nav ul li a{ 
    display: block;
    line-height: 10rem;
    color: var(--red);
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    padding: 0 2rem;
}

#nav ul li a:hover{ 
    color: var(--pink);
    background: var(--red);
}





/*BANNER*/
.carousel-inner img{
    height: 50rem !important;
}







/*ABOUT*/
#about{
    width: 100%;
    height: 50rem;
    background: var(--pink);
    padding: 1rem;
}

#about .center{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem auto;
}



.about_div--img,
.about_div--info{
    position: relative;
    width: 45%;
    height: 100%;
}



.about_div--img img:first-child{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about_div--img img:last-child{
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.about_div--info h2{
    text-align: center;
    color: #000;
    font-size: 4rem;
    margin: 2rem 0;
}

.about_div--info h3{
    text-align: center;
    color: var(--red);
    font-size: 2.5rem;
    margin: 2rem 0;
}

.about_div--info p{
    text-align: justify;
    font-size: 1.5rem;
    margin: 1rem 0;
}